@font-face {

font-family: 'Dosis';
src: url('fonts/dosissemibold.woff2') format('woff2'),
url('fonts/dosissemibold.woff') format('woff');
font-weight: bold;
font-style: normal;
}

html, body {
    padding: 0;
    margin: auto;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}
